<div class="content">
	<!-- set the scenarios -->
	<div id='scenario_' class='panel panel-default'>
		<!-- set the scenario title -->
		<div class='panel-heading'>{{currentScenario.name}}
			<!-- set the scenario tags as labels -->
			<span class='label label-default' ng-repeat="tag in currentScenario.tags">{{tag.name}}</span>
			<a class="btn btn-primary" href="" role="button" ng-click="addToTestRun(currentScenario)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
		</div>
		<!-- set the scenario description -->
		<div class='panel-body'>
			<p ng-repeat="image in currentScenario.images"><img src={{image}} alt="image"></p>
			<p>{{currentScenario.name}}</p>
		</div>
		<!-- set the scenario steps -->
		<table class='table-striped'>
			<tr ng-repeat="step in currentScenario.steps"><td>{{step.keyword}} {{step.text}}</td></tr>
		</table>
		<!-- show the examples if this is a scenario outline -->
		<div ng-if="currentScenario.examples[0].type == 'Examples'">
			</br>Examples:</br>
			<table class='table-striped'>
				<tr><th ng-repeat="head in currentScenario.examples[0].tableHeader.cells">{{ head.value }}</th></tr>
				<tr ng-repeat="body_row in currentScenario.examples[0].tableBody"><td ng-repeat="cell in body_row.cells">{{ cell.value }}</td></tr>
			</table>
		</div>
	</div>
</div>