<div class="content">
	<!-- set the scenarios -->
	<div id='scenario_' class='panel panel-default'>
		<!-- set the scenario title -->
		<div class='panel-heading'>{{currentScenario.title}}
			<!-- set the scenario tags as labels -->
			<span class='label label-default' ng-repeat="tag in currentScenario.tags">{{tag}}</span>
			<a class="btn btn-primary" href="" role="button" ng-click="addToTestRun(currentScenario)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
		</div>
		<!-- set the scenario description -->
		<div class='panel-body'><p>{{currentScenario.description}}</p></div>
		<!-- set the scenario steps -->
		<ul class='list-group'>
			<li class='list-group-item' ng-repeat="step in currentScenario.steps">{{step}}</li>
		</ul>
	</div>
</div>