<div class="content">
	<div><button ng-click="addAllToTestrun(scenariosInFeature)">Add all scenarios to TestRun</button></div></br>
	<!-- set the background -->
	<div ng-if="background != null">
		<div id='background_' class='panel panel-default'>
			<div class='panel-heading'>
				Background: 
			</div>
			<!-- set the scenario description -->
			<div class='panel-body'>
				<table class='table-striped'>
					<tr ng-repeat="step in background.steps"><td>{{step.keyword}} {{step.text}}</td></tr>
				</table>
			</div>
		</div>
	</div>
	<!-- set the scenarios -->
	<div ng-repeat="scenario in scenariosInFeature">
		<div id='scenario_' class='panel panel-default'>
			<!-- set the scenario title -->
			<div class='panel-heading'>
				<a class="btn btn-primary" href="" role="button" ng-click="addToTestRun(scenario)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
				{{scenario.name}}
				<!-- set the scenario tags as labels -->
				<span class='label label-default' ng-repeat="tag in scenario.tags">{{tag.name}}</span>
				<span ng-if="testsToRun.indexOf(scenario) != -1" class="glyphicon glyphicon-star pull-right"></span>
				
			</div>
			<!-- set the scenario description -->
			<div class='panel-body'>
				<p ng-repeat="image in scenario.images">
					<a href="{{image}}" data-toggle="lightbox">
						<img src="{{image}}" class="img-fluid" height="20%" width="20%">
					</a>
				</p>
				<p><b>{{scenario.name}}</b></p>
				<table class='table-striped'>
					<tr ng-repeat="step in scenario.steps"><td>{{step.keyword}} {{step.text}}</td></tr>
				</table>
				<!-- show the examples if this is a scenario outline -->
				<div ng-if="scenario.examples[0].type == 'Examples'">
					</br>Examples:</br>
					<table class='table-striped'>
						<tr><th ng-repeat="head in scenario.examples[0].tableHeader.cells">{{ head.value }}</th></tr>
						<tr ng-repeat="body_row in scenario.examples[0].tableBody"><td ng-repeat="cell in body_row.cells">{{ cell.value }}</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>